ion-content {
  overflow: hidden;
}

.container {
  display: flex;  
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: calc(100% - 60px);

  overflow-y: auto;

  .article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90%;
    height: 200px;

    color: #fff;

    border-bottom: 0.5px solid gray;

    padding: 10px;

    #title {
      display: block;
      width: 100%;
      margin-top: 0;
      font-weight: bold;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    #description {
      display: block;
      width: 100%;
      margin-bottom: 0;

      font-size: 12px;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      width: 100%;
    }
  }
}
